doctype html
html
  head
    title Pug Buttons Example
  body
    h1 Welcome
    button(type='button', onclick="window.location.href='/strat'") Strats
    button(type='button', onclick="window.location.href='/player'") Players