doctype html
html
  head
    title Strats
    link(rel='stylesheet', href='/styles.css')
  body  
    h1 Strats
    ul
      each strat in strats
        li
          a(href='/strat/' + strat.id)
            h2= strat.name 
            form(action="/strat/delete/" + strat.id, method="POST")
              button(type="submit") Delete
    a(href='/strat/new')
      button Add Strat