doctype html
html
  head
    title Players
    link(rel='stylesheet', href='/styles.css')
  body
    h1 List of Players
    ul
      each player in players 
        li= player.name + ' (' + player.gname + ')'